@font-face {
   font-family: 'TT Lakes';
   src: url(fonts/TTLakes-Regular.ttf) format(truetype);
 }
 @font-face {
   font-family: 'TT Lakes';
   src: url(fonts/TTLakes-DemiBold.ttf) format(truetype);
 }
 .swiper {
  min-width: 320px;
   width: 100vw;
   height: 234px;
   display: flex;
 }
 .swiper-wrapper{
   display: flex;
   align-items: center;
 }
 body {
         background-color: #F8F8F8;
         font-family: 'TT Lakes'
         font-size: 16px;
         font-weight: 400;
         color: #7E7E82;
         margin: 0;
         padding: 0;
       }
 .header {
  width: 100%;
   height: 80px;
   background-color: #FFFFFF;
   display: block;
         font-family: 'TT Lakes';
         font-size: 16px;
         font-weight: 400;
         color: #7E7E82;
       text-align: center;
 }
   
       .swiper-slide {
         width:240px;
         height: 72px;
         border: 1px solid #EAEAEA;
         text-align: center;
         font-size: 18px;
         background: #fff;
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding-left: 16px;
         padding-top: 5px;
         margin: 0;
       }
       .swiper-pagination{
         width: 100%;
         padding-top: 0;
         padding-bottom: 50px;
       }
 
       .swiper-slide img {
         display: block;
         height: 40px;
       }

.table-swiper-slide {
  display: none;
}
.hidden-button {
  display: none;
}
@media (min-width: 768px) {
  .swiper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    width: 600px;
    height: 300px;
  }
  .swiper-wrapper {
    width: 100%;
    display: grid;
    justify-content: start;
    gap: 16px 24px;
    grid-template-columns: repeat(3, 1fr);
  }
  .swiper-slide {
    flex: 0 0 200px;
    width: 224px;
    height: 72px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .swiper-pagination {
    display: none;
  }
  .header {
    background-color: #ffffff;
    width: 100%;
    height: 56px;
    text-align: left;
    padding: 16px 32px;
  }
  .table-swiper-slide {
    display: none;
  }
  .hidden-button {
    display: block;
  }
  .button {
    display: block;
  }
}
@media (min-width: 1120px) {
  .header {
    background-color: #ffffff;
    font-family: 'TT Lakes';
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    text-align: left;
  }
  .swiper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    width: 1120px;
    height: 288px;
  }
  .table-swiper-slide {
    display: block;
    display: grid;
    justify-content: space-between;
    gap: 22px;
    grid-template-columns: repeat(1, 2fr);
    width: fit-content;
  }
  .swiper-wrapper {
    width: 100%;
    display: grid;
    gap: 12px 5px;
    grid-template-columns: repeat(4, 2fr);
  }
  .hidden-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }
  .content {
    column-gap: 10px;
  }
}
